In [45]:
import pandas as pd
import csv

cerealeCsv = pd.read_csv("/Users/yassine/Desktop/data-python/fr_céréales.csv", sep=',')
populationCsvToArray = pd.read_csv("/Users/yassine/Desktop/data-python/fr_population.csv", sep=',')
populationBydate = populationCsvToArray.loc[populationCsvToArray['Année'] == 2013]
filtered_df = populationBydate[(populationBydate['Code zone'] != 96) & (populationBydate['Code zone'] != 41) & (populationBydate['Code zone'] != 128) & (populationBydate['Code zone'] != 214)]
populationRemoveDuplicateByCountries =  filtered_df.drop_duplicates(subset='Code zone', keep="last")
populationTotalByDate = populationRemoveDuplicateByCountries['Valeur'].sum();
populationTotalByDate

6997326

In [33]:
PopulationByCereal = pd.concat([populationSynthesis, cerealSynthesis], axis=1)
test = populationSynthesis.merge(cerealSynthesis, left_on='Zone', right_on='Zone',suffixes=('_pop', '_cereals'))

,Zone,Élément,Code Produit_x,Produit_x,Année_x,Unité_x,NbPopulation,Symbole,Code Produit_y,Produit_y,Année_y,Unité_y,NbCereal
0,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2511,Blé,2013,Milliers de tonnes,5169
1,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2805,Riz (Eq Blanchi),2013,Milliers de tonnes,342
2,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2513,Orge,2013,Milliers de tonnes,514
3,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2514,Maïs,2013,Milliers de tonnes,312
4,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2517,Millet,2013,Milliers de tonnes,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2514,Maïs,2013,Milliers de tonnes,799
887,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2516,Avoine,2013,Milliers de tonnes,1
888,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2517,Millet,2013,Milliers de tonnes,55
889,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2518,Sorgho,2013,Milliers de tonnes,69
890,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2520,"Céréales, Autres",2013,Milliers de tonnes,2

In [32]:
cerealBydate = cerealeCsv.loc[cerealeCsv['Année'] == 2013]

cerealSynthesis = cerealBydate.drop(['Symbole','Domaine','Code zone','Code Domaine','Élément' ,'Code Élément','Code année','Description du Symbole'], axis=1)
cerealSynthesis.rename(columns={'Valeur':'NbCereal'}, inplace=True)

cerealSynthesis

,Zone,Code Produit,Produit,Année,Unité,NbCereal
0,Afghanistan,2511,Blé,2013,Milliers de tonnes,5169
1,Afghanistan,2805,Riz (Eq Blanchi),2013,Milliers de tonnes,342
2,Afghanistan,2513,Orge,2013,Milliers de tonnes,514
3,Afghanistan,2514,Maïs,2013,Milliers de tonnes,312
4,Afghanistan,2517,Millet,2013,Milliers de tonnes,13
...,...,...,...,...,...,...
886,Zimbabwe,2514,Maïs,2013,Milliers de tonnes,799
887,Zimbabwe,2516,Avoine,2013,Milliers de tonnes,1
888,Zimbabwe,2517,Millet,2013,Milliers de tonnes,55
889,Zimbabwe,2518,Sorgho,2013,Milliers de tonnes,69
890,Zimbabwe,2520,"Céréales, Autres",2013,Milliers de tonnes,2

In [30]:
PopulationByCereal = pd.concat([populationSynthesis, cerealSynthesis], axis=1)
resultMerge = populationSynthesis.merge(cerealSynthesis, left_on='Zone', right_on='Zone',suffixes=('_pop', '_cereals'))
resultMerge

,Zone,Élément,Code Produit_pop,Produit_pop,Année_pop,Unité_pop,NbPopulation,Symbole,Code Produit_cereals,Produit_cereals,Année_cereals,Unité_cereals,NbCereal
0,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2511,Blé,2013,Milliers de tonnes,5169
1,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2805,Riz (Eq Blanchi),2013,Milliers de tonnes,342
2,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2513,Orge,2013,Milliers de tonnes,514
3,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2514,Maïs,2013,Milliers de tonnes,312
4,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2517,Millet,2013,Milliers de tonnes,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2514,Maïs,2013,Milliers de tonnes,799
887,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2516,Avoine,2013,Milliers de tonnes,1
888,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2517,Millet,2013,Milliers de tonnes,55
889,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2518,Sorgho,2013,Milliers de tonnes,69
890,Zimbabwe,Population totale,2501,Population,2013,1000 personnes,14150,NaN,2520,"Céréales, Autres",2013,Milliers de tonnes,2

In [40]:
df3 = pd.merge(populationSynthesis, cerealSynthesis, left_on= "Zone", right_on= "Zone",suffixes=('_pop', '_cereals'))

res = df3.loc[df3['Zone'] == 'Afghanistan']


res

,Zone,Élément,Code Produit_pop,Produit_pop,Année_pop,Unité_pop,NbPopulation,Symbole,Code Produit_cereals,Produit_cereals,Année_cereals,Unité_cereals,NbCereal
0,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2511,Blé,2013,Milliers de tonnes,5169
1,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2805,Riz (Eq Blanchi),2013,Milliers de tonnes,342
2,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2513,Orge,2013,Milliers de tonnes,514
3,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2514,Maïs,2013,Milliers de tonnes,312
4,Afghanistan,Population totale,2501,Population,2013,1000 personnes,30552,NaN,2517,Millet,2013,Milliers de tonnes,13

In [44]:

test = filtered_df.loc[filtered_df['Code zone'] == 96]

print(test)

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole]
Index: []